<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
    </head>

    <body>
        <section id="footerGrid"
            class="modal-footer border border-white rounded-3 flex-column flex-grow-0 flex-shrink-1 col-auto bg-dark text-white w-100 h-auto bottom-0 m-auto mt-2"
            th:fragment="footer">
            <p><em class="far fa-copyright text-info"></em>
                &ThickSpace;Paul Capatina-Voila
                <em class="fas fa-seedling text-success"></em>
                &ThickSpace;GitHub -
                <a href="https://github.com/paulkapa/btd6-game-logger/issues" class="link-light">
                    Contribute to development
                </a>
            </p>
        </section>
    </body>

</html>
