<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fragment</title>
    </head>

    <body>
        <section id="footerGrid"
            class="modal-footer border border-white rounded-3 flex-column flex-grow-0 flex-shrink-1 col-auto bg-dark text-white w-100 h-auto bottom-0 m-auto mt-2"
            th:fragment="footer">
            <p><em class="far fa-copyright text-info"></em>
                Paul Capatina-Voila&ThickSpace;
                <em class="fas fa-seedling text-success"></em>
                &ThickSpace;GitHub -
                <a href="https://github.com/paulkapa/btd6-game-logger/issues" class="link-light">
                    Contribute <span class="swopt">to development</span>
                </a>
            </p>
        </section>
    </body>

</html>
