<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <section id="footerGrid" class="modal-footer border border-white rounded-3 flex-column flex-grow-0 flex-shrink-1 col-auto bg-dark text-white w-100 h-auto bottom-0 m-auto mt-2" th:fragment="footer">
      <p><i class="far fa-copyright text-info"></i> Paul Capatina-Voila</p>
      <i class="fas fa-seedling text-success"></i>
      <p class="text-info">GitHub -  <a href="https://github.com/paulkapa/btd6-game-logger/issues" class="link-light">Contribute to development</a></p>
    </section>
  </body>
</html>