@keyframes opacity-slow {
  0%  {opacity: 0;}
  98% {opacity: 0.2;}
  100% {opacity: 1;}
}
@keyframes opacity-fast {
  0%  {opacity: 0; z-index: 11000;}
  40% {opacity: 0.5; z-index: 10000;}
  50% {opacity: 1; z-index: 9000;}
  100% {opacity: 1; z-index: -1;}
}
@keyframes visibility {
  0%  {visibility: hidden;}
  100% {visibility: visible;}
}

#spinnerContainer {
  opacity: 1;
  width: 5em;
  height: 5em;
  position: absolute;
  z-index: 11000;
  margin: 0 auto;
  top: calc(80% - calc(5em / 2));
  left: calc(50% - calc(5em / 2));
  background-color: black;
  border-radius: 30%;
  text-align: center;
  animation: opacity-fast 1s ease-in-out 0.5s normal none;
  opacity: 0;
}

#loadSpinner {
  opacity: 1;
  width: 3em;
  height: 3em;
  position: relative;
  margin: 0 auto;
  top: calc(50% - calc(3em / 2));
  z-index: inherit;
}

#loginGrid {
  opacity: 0;
  animation: opacity-slow 0.5s ease-out 1s 1 normal none;
  opacity: 1;
}

#registerGrid {
  opacity: 0;
  animation: opacity-slow 0.5s ease-out 1s 1 normal none;
  opacity: 1;
}

#homeGrid {
  opacity: 0;
  animation: opacity-slow 0.5s ease-out 1s 1 normal none;
  opacity: 1;
}

#homeContentGrid {
  opacity: 0;
  animation: opacity-slow 1s ease-out 1s 1 normal none;
  opacity: 1;
}
