<!doctype html>
<html lang="en">
  <head>
  </head>
  <body id="errorPageBody" class="bg-dark user-select-none">
    <section id="errorInfoGrid" class="container-fluid mt-2 mb-5 p-5" th:fragment="error">
      <!-- Navigation and problem description -->
      <div class="row flex-row p-2">
        <!-- Go back button -->
        <div class="col col-auto">
          <form class="row" method="get" action="" th:action="@{/}">
            <button class="btn btn-lg btn-primary" type="submit">Go Back</button>
          </form>
          <span class="row" style="font-size: 3em; color: Tomato;">
            <i class="fas fa-bug"></i>
          </span>
        </div>
        <!-- Problem descritpion -->
        <div class="col flex-column">
          <p class="text-info" th:text="${statusCode} == null ? 'Status code: unknown' : 'Status code: ' + ${statusCode}"></p>
          <p class="text-info" th:text="${exceptionCause} == null ? 'Cause: unknown' : 'Cause: ' + ${exceptionCause}"></p>
          <p class="text-warning">If problem persists, try getting in touch with developer!</p>
        </div>
      </div>
      <!-- Error output -->
      <div id="errorOutputContainer" class="bg-danger row flex-row p-1">
        <p class="text-light p-5" th:text="${exceptionMessage} == null ? 'Message: unknown' : 'Message: ' + ${exceptionMessage}"></p>
        <p class="text-light p-5" th:text="${lastError} == null ? 'Previous application error: unknown' : 'Previous application error: ' + ${lastError}"></p>
      </div>
    </section>
  </body>
</html>
