<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ^ Required meta tags ^ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/style/localstyle.css">
    <!-- END <head> info -->
    <title>BTD6 G-L | Home</title>
  </head>
  <body class="bg-dark user-select-none">
    <!-- Site navigation and navbar content -->
    <section class="container-fluid">
      <!-- Toggleable navbar content - Loged-in user information and account controls -->
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <!-- Info + Logout button -->
          <div class="row g-2">
            <!-- Info -->
            <div class="col">
              <h5 class="text-white h4">Personal Account</h5>
              <span class="text-muted">Here you can find all account controls.</span>
            </div>
            <!-- Logout button -->
            <div class="col-auto">
              <form method="post" action="" th:action="@{/logout}">
                <button class="btn btn-lg btn-primary" type="submit">Logout</button>
              </form>
            </div>
          </div>
          <!-- Disabled inputs to display username and email -->
          <div class="row g-3 justify-content-end p-4" th:if="${username}">
            <!-- Username -->
            <div class="col-auto">
              <div class="form-floating">
                <input class="form-control" id="floatingInputUsername" type="username" placeholder="username" th:value="${username}" disabled/>
                <label for="floatingInputUsername">Username</label>
              </div>
            </div>
            <!-- Email -->
            <div class="col-auto">
              <div class="form-floating">
                <input class="form-control" id="floatingInputEmail" type="email" placeholder="name@example.com" th:value="${email}==null ? 'not set' : ${email}" disabled/>
                <label for="floatingInputEmail">Email address</label>
              </div>
            </div>
            <div class="col-auto">
              <div class="form-floating">
                <select class="form-select" id="floatingSelectControls">
                  <option selected="">Select...</option>
                  <option value="1">Profile</option>
                  <option value="2">Saved data</option>
                  <option value="3">Personal Information</option>
                </select>
                <label for="floatingSelectControls">Account Controls</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation content">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </section>

    <!--
      3*2 grid empty
    -->
    <section class="container-fluid bg-dark">
      <div class="row row-cols-2">
        <div class="col bg-primary">
          <h1>col1.1</h1>
          <form method="post" action="" th:action="@{/logger}">
            <button class="btn btn-secondary btn-md" type=submit>Go To Logger</button>
          </form>
        </div>
        <div class="col bg-secondary">
          <h1>col1.2</h1>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col bg-secondary">
          <h1>col2.1</h1>
        </div>
        <div class="col bg-primary">
          <h1>col2.2</h1>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col bg-primary">
          <h1>col3.1</h1>
        </div>
        <div class="col bg-secondary">
          <h1>col3.2</h1>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col bg-secondary">
          <h1>col4.1</h1>
        </div>
        <div class="col bg-primary">
          <h1>col4.2</h1>
        </div>
      </div>
    </section>

    <h5 class="h4 text-light">Hello, world!</h1>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    <!-- Local script -->
    <script src="/script/localscript.js"></script>
  </body>
</html>
