<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="'BTD6 G-L | ' + ${currentPageTitle}">BTD6 G-L</title>
        <script src="https://kit.fontawesome.com/3b3b81e1a6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/style/localstyle.css">
    </head>

    <body
        class="flex-column flex-grow-1 flex-shrink-1 flex-wrap justify-content-center bg-dark text-center user-select-none w-auto h-100 m-auto m-0 p-0">

        <!-- Shows up for every page load as a indicator that the page contents are being loaded -->
        <div id="spinnerContainer" class="modal-content justify-content-center text-center"><em
                class="fas fa-spinner fa-pulse fa-2x position-relative text-info w-auto m-auto"></em></div>

        <!-- Page navigation bar and expandable content -->
        <section id="navGrid" th:replace="layout/navigation :: navigation"></section>

        <!-- Alert messages for user activity -->
        <div id="alertContainer" class="modal-content col flex-col justify-content-center collapse m-auto mt-2">
            <button id="closeAlert" class="col col-auto border-0 bg-transparent" type="button">
                <em class="fas fa-times-circle fa-2x text-info m-auto mt-2"></em>
            </button>
            <p class="alert-message p-2"
                th:text="${isFailedLoginAttempt == true or isFailedRegisterAttempt == true or failedMessage != null} ? ${failedMessage} : ''">
            </p>
        </div>

        <!-- Page content -->
        <th:block th:switch="${currentPageTitle}">
            <th:block th:case="Login">
                <section th:replace="login/login :: login"></section>
            </th:block>
            <th:block th:case="Register">
                <section th:replace="login/register :: register"></section>
            </th:block>
            <th:block th:case="Home">
                <section th:replace="app/homepage :: homepage"></section>
                <section th:replace="app/homepage :: extended"></section>
            </th:block>
            <th:block th:case="App">
                <section th:replace="app/logger :: logger"></section>
                <section th:replace="app/logger :: extended"></section>
            </th:block>
            <th:block th:case="*">
                <div class="row flex-row justify-content-center w-auto m-auto mt-2">
                    <p class="col col-auto m-auto">Error</p>
                </div>
            </th:block>
        </th:block>

        <!-- Page footer -->
        <section id="footerGrid" th:replace="layout/footer :: footer"></section>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <!-- jQuerry -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Local Script -->
        <script src="/script/localscript.js"></script>
    </body>

</html>
