<!doctype html>
<html lang="en">
  <head>
  </head>
  <body>
    <section id="registerGrid" class="bg-transparent container-fluid mt-5 mb-5 p-5" th:fragment="register">
      <div id="registerForm" class="row g-3 justify-content-center">
        <div class="col col-auto">
          <div class="col flex-column-reverse m-0 p-0 justify-content-center text-center">
            <div class="bg-primary row flex-row-reverse rounded-3">
              <div id="form-container" class="container">
                <!-- Register form -->
                <form method="post" action="" th:action="@{/signup}" th:object="${newUser}">
                  <h2 class="form-control-plaintext text-light">Please enter your details</h2>
                  <div class="form-floating m-4">
                    <input class="form-control" id="floatingInputUsername" type="text" name="username" value="" autocomplete="username" required
                            th:field="*{name}">
                    <label for="floatingInputUsername">Username</label>
                  </div>
                  <div class="form-floating m-4">
                    <input class="form-control" id="floatingInputPassword" type="password" name="password" value="" autocomplete="new-password" required
                            th:field="*{password}">
                    <label for="floatingInputPassword">Password</label>
                  </div>
                  <div class="form-floating m-4">
                    <input class="form-control" id="floatingInputEmail" type="text" name="email" value="" autocomplete="email"
                            th:field="*{email}">
                    <label for="floatingInputEmail">Email</label>
                  </div>
                  <p class="container text-warning">Email is Optional!</p>
                  <button class="btn btn-lg btn-secondary m-3 d-inline" type="submit">Register</button>
                  <input class="btn btn-lg btn-secondary m-3" type="reset" value="Reset Form"><br>
                </form>
                <!-- Redirect to login -->
                <div class="container bg-secondary rounded-3 p-2 mb-2">
                  <form method="post" action="" th:action="@{/login}">
                    <div class="form-floating">
                      <span class="form-control-plaintext text-light d-inline">Already have an account?</span>
                      <button class="bg-transparent btn btn-md shadow-none text-warning d-inline m-1" style="text-decoration: none; border-width: 2px; border-color: var(--bs-warning);" type="submit">Login</button>
                    </div>
                    <div class="row flex-row justify-content-center">
                      <p class="col col-auto text-light m-2">
                        Creating an account will allow you to save your activity.
                        <br><br>
                        Read Below For Data Usage And Account Information
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-3 rounded-3 bottom-0 justify-content-center">
          <button id="registerInfoToggle" class="bg-secondary btn btn-lg text-light" onclick="registerInfoToggleVisibility()" data-bs-toggle="collapse" data-bs-target="#registerInfo" aria-expanded="false" aria-controls="registerInfoToggle">Show More Information</button>
        </div>
        <!-- Registration info - collapsed -->
        <div id="registerInfo" class="collapse row g-3 justify-content-center mt-2 mb-2">
          <div class="col col-auto">
            <div class="col flex-column-reverse m-0 p-0 justify-content-center text-center">
              <div class="bg-secondary row flex-row-reverse rounded-3">
                <div class="col col-auto text-light">
                  <div class="row flex-row">
                    <div class="col">
                      <p class="container text-wrap p-2">
                        <br>
                        <span class="text-warning p-4">Your password is encrypted immediately after the form is submitted
                          and cannot be accessed, viewed or stored in its original form after that.</span>
                        <br><br>
                        No private information will be accessible to any third party.
                        This site does not use cookies nor it accesses your browser's local storage.
                        <br><br>
                        <span class="text-info">If you have any worries please login using the anonymous account below.</span>
                      </p>
                    </div>
                  </div>
                  <!-- Info -->
                  <div class="row g-2 justify-content-center text-center m-2">
                    <div class="bg-dark col-auto border border-primary rounded-3 text-start text-info">
                      <ul class="p-2" style="list-style: inside;">
                        Anonymous account:
                        <li>Username: btd6gluser</li>
                        <li>Password: pass</li>
                      </ul>
                    </div>
                    <div class="bg-dark col-auto border border-primary rounded-3 text-start text-warning">
                      <ul class="p-2" style="list-style: inside;">
                        Adding an email will allow you to:
                        <li>Receive notifications about new releases;</li>
                        <li>Have an extra identifier for your account;</li>
                        <li>Send inquiries or suggestions directly from this app;</li>
                        <li>Nothing else implemented for email LOL.</li>
                      </ul>
                    </div>
                  </div>
                  <p id="shows-private-email" class="container">All emails you'll receive will be sent from:
                    <button id="privateEmailToggle" class="btn btn-sm btn-link text-warning d-inline" onclick="privateEmailToggleVisibility()">Show</button>
                    <code id="privateEmail" class="invisible bg-dark user-select-all">"paulc1379@outlook.com"</code><br>
                    Feel free to send any inquiries or suggestions to the email address above.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
