<!doctype html>
<html lang="en">
  <head>
  </head>
  <body>
    <section id="homeContentGrid" class="modal-content border border-white flex-column bg-dark w-100 m-auto" th:fragment="homepage">
      <div class="modal-content row flex-row bg-dark m-auto mt-2 mb-2">
        <!-- App setup selection form -->
        <form id="optionSelector" class="col col-auto bg-dark m-auto" method="post" action="" th:action="@{/logger}" th:object="${appSetup}">
          <p class="text-white h4">Make your game selections and press Start</p>
          <div class="col rounded-3 m-2 form-floating">
            <select id="mapSelect" class="form-select" th:field="*{mapName}" required>
              <option selected="" value="">Select...</option>
              <th:block th:each="m : ${maps}">
                <option th:value="${m.name}" th:text="${m.name}"></option>
              </th:block>
            </select>
            <label for="mapSelect">Map</label>
          </div>
          <div class="col rounded-3 m-2 form-floating">
            <select id="diffSelect" class="form-select" th:field="*{diff}" required>
              <option selected="" value="">Select...</option>
              <th:block th:each="d : ${diff}">
                <option th:value="${d}" th:text="${d}"></option>
              </th:block>
            </select>
            <label for="diffSelect">Game Mode</label>
          </div>
          <!-- Selection preview -->
          <div id="selectOutput" class="row border border-2 rounded-3 border-warning text-white">
            <h2 class="h4">Your selection:</h2>
            <br>
            <div class="row g-2 justify-content-start m-2">
              <div class="col col-auto carousel-control-next-icon"></div>
              <div class="col col-auto">
                <p id="selectedMap">Select...</p>
              </div>
            </div>
            <div class="row g-2 justify-content-start m-2">
              <div class="col col-auto carousel-control-next-icon"></div>
              <div class="col col-auto">
                <p id="selectedDiff">Select...</p>
              </div>
            </div>
          </div>
          <!-- Submit selection -->
          <div class="col col-auto justify-content-start m-2">
            <button class="col btn btn-secondary btn-lg" type=submit>Start</button>
            <button class="col btn btn-warning btn-lg" type=reset>Reset</button>
          </div>
        </form>
        <!-- Complete apps selection view -->
        <div class="row flex-row">
          <table class="table w-100 text-white">
            <thead>
              <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Difficulty</td>
                <td>Starting Cash</td>
                <td>Starting Lives</td>
                <td>Monkey Knowledge</td>
              </tr>
            </th>
            <th:block>
              <tbody>
                <tr th:each="m : ${maps}">
                  <td class="tdout d-none" th:classappend="td + ${mStat.index}" th:text="${m.name}"></td>
                  <td class="tdout d-none" th:classappend="td + ${mStat.index}" th:text="${m.mapType}"></td>
                  <td class="tdout d-none td-diff" th:classappend="td + ${mStat.index}" th:text="''"></td>
                  <td class="tdout d-none" th:classappend="td + ${mStat.index}" th:text="${m.baseStartingCash.intValue()}"></td>
                  <td class="tdout d-none" th:classappend="td + ${mStat.index}" th:text="${m.baseStartingLives}"></td>
                  <td class="tdout d-none td-mk" th:classappend="td + ${mStat.index}" th:text="''"></td>
                </tr>
              </tbody>
            </th:block>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
