<!doctype html>
<html lang="en">
  <head>
  </head>
  <body class="bg-dark user-select-none">
    <section id="loggerContentGrid" class="container-fluid" th:fragment="logger">
      <!-- Extra Navigation - Temporary Placement -->
      <header class="modal-header">
        <nav class="navbar nav">
          <form class="nav-item m-2" method="post" action="" th:action="@{/home}">
            <button class="btn btn-primary" type="submit">Back Home</button>
          </form>
          <form class="nav-item m-2" method="post" action="" th:action="@{/save}" th:object="${loggerData}">
            <button class="btn btn-primary" type="submit">Save All</button>
          </form>
          <form class="nav-item m-2" method="request" action="" th:action="@{/error}">
            <button class="btn btn-primary" type="submit">Check Errors</button>
          </form>
        </nav>
      </header>
      <div class="row flex-row"><label class="invisible">Placeholder</label></div>
      <div class="container">
        <table class="table table-responsive">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Starting Cash</td>
              <td>Starting Lives</td>
            </tr>
          </th>
          <th:block>
            <tbody>
              <tr th:each="m : ${maps}">
                <td th:text="${m.name}"></td>
                <td th:text="${m.mapType}"></td>
                <td th:text="${m.baseStartingCash.intValue()}"></td>
                <td th:text="${m.baseStartingLives}"></td>
              </tr>
            </tbody>
          </th:block>
        </table>
      </div>
      <div class="container">
        <table class="table table-responsive">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Base Cost</td>
              <td>Base Sell Value</td>
            </tr>
          </th>
          <th:block>
            <tbody>
              <tr th:each="t : ${towers}">
                <td th:text="${t.name}"></td>
                <td th:text="${t.type}"></td>
                <td th:text="${t.baseCost.intValue()}"></td>
                <td th:text="${t.baseSellValue.intValue()}"></td>
              </tr>
            </tbody>
          </th:block>
        </table>
      </div>
      <div class="container">
        <table class="table table-responsive">
          <thead>
            <tr>
              <td>Name</td>
              <td>Path</td>
              <td>Tier</td>
              <td>Base Cost</td>
              <td>status.index</td>
              <td>status.first</td>
              <td>status.last</td>
              <td>status.even</td>
              <td>status.odd</td>
              <td>
                <select id="viewUpgradesSelect" class="form-select">
                  <option value="">Choose Tower...</option>
                </select>
              </td>
            </tr>
          </th>
          <th:block>
            <tbody>
              <tr th:each="up : ${upgrades}" th:with="first='table-info', diff='table-warning', prev='table-info'">
                <td class="collapsed" th:text="${up.name}"></td>
                <td class="collapsed" th:text="${up.path}"></td>
                <td class="collapsed" th:text="${up.tier}"></td>
                <td class="collapsed" th:text="${up.baseCost.intValue()}"></td>
                <td th:text="${upStat.index}"></td>
                <td th:text="${upStat.first}"></td>
                <td th:text="${upStat.last}"></td>
                <td th:text="${upStat.even}"></td>
                <td th:text="${upStat.odd}"></td>
                <td th:text="${up.tower.name}"></td>
              </tr>
            </tbody>
          </th:block>
        </table>
      </div>
    </section>
  </body>
</html>
