<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <!-- Complete app selection view -->
    <section id="loggerContentGrid" class="modal-content border border-white rounded-3 col flex-column justify-content-center bg-dark w-100 m-auto mt-2" th:fragment="logger">
      <!--Complete app selection view -->
      <table class="table small text-muted m-auto">
        <thead>
          <tr>
            <td>Name</td>
            <td class="swopt">Type</td>
            <td>Difficulty</td>
            <td>Game Mode</td>
            <td>Starting Cash</td>
            <td>Starting Lives</td>
            <td>Monkey Knowledge</td>
          </tr>
        </th>
        <th:block>
          <tbody>
            <tr>
              <td th:text="${appSetup.name}"></td>
              <td class="swopt" th:text="${appSetup.mapType}"></td>
              <td th:text="${appSetup.currentDifficulty}"></td>
              <td th:text="${appSetup.currentGameMode}"></td>
              <td th:text="${appSetup.baseStartingCash.intValue()}"></td>
              <td th:text="${appSetup.baseStartingLives}"></td>
              <td th:text="${appSetup.currentGameMode != 'CHIMPS' && appSetup.currentGameMode != 'Sandbox'} ? 'Yes' : 'No'"></td>
            </tr>
          </tbody>
        </th:block>
      </table>
    </section>
    <!-- Game information -->
    <section id="loggerGameInfoGrid" class="modal-content border border-white rounded-3 col flex-column justify-content-center bg-dark w-100 m-auto mt-2" th:fragment="extended">
      <table class="table text-white w-auto m-auto">
        <thead>
          <tr>
            <td>Round</td>
            <td>Start Cash</td>
            <td>Start Lives</td>
            <td>End Cash</td>
            <td>End Lives</td>
          </tr>
        </th>
        <th:block>
          <tbody>
            <tr th:each="i : ${#numbers.sequence(0, 100)}" th:with="m = ${appData.getMap(0)}">
              <td th:text="${i}"></td>
              <td th:text="${i} == '0' ? ${m.baseStartingCash.intValue()} : ${i*120}"></td>
              <td th:text="${i} == '0' ? ${m.baseStartingLives} : '100'"></td>
              <td th:text="${i} == '0' ? ${m.baseStartingCash.intValue()} : ${i*120}"></td>
              <td th:text="${i} == '0' ? ${m.baseStartingLives} : '100'"></td>
            </tr>
          </tbody>
        </th:block>
      </table>
    </section>
  </body>
</html>
